body {
  font-family: 'Raleway', sans-serif;
  position: relative;
/*  margin: auto;
  width: 960px;*/
}

button {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*#chart-container {
  width: 750px
  margin: 0 0 0 250px;

}*/

svg {
  margin-left: 280px;
}

li {
  list-style-type: none;
}

#title {
  text-align: right;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f2f2f2;
  width: 250px;
  padding: 10px;
}

#header {
  margin: 30px 20px 30px 280px;
}

.tooltip {
  position: absolute;
  text-align: center;
  /*width: 60px;
  height: 28px;*/
  padding: 2px;
  font-size: 12px;
  background-color: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

/*.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}
*/