body { 
  padding-top: 30px;
}

.navbar-default .navbar-brand {
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 4px;
  color: white;

}

h1 { 
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  font-weight: 100; 
  font-size: 24px;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  padding: 10px 0 10px 63px;
}

.topNav {
  background-color: #264669;
}

.subbar {
  background-color: #3F5F84;
  color: #88BDFA;
  margin-top: 20px;
  height: 160px;
}

.highlight {
  background-color: #122C4A;
  color: white;
}

.summary {
  font-family: 'Georgia', 'Vollkorn', serif;
  font-size: 14px;
}

.bottomNav {
  background-color: #122C4A;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.navbar-default .navbar-link {
  margin-left: 40px;
  color: #77AAE5;
}

.navbar-default .navbar-text {
  color: #3F5F84;
}

a {
  color: #3F5F84;
}

.col-md-3 {
  padding-right: 0px;
}
.col-md-9 {
  padding-right: 15em;
  padding-left: 45px;
  background-color: #122C4A;
  color: white;
  height: 100%;
}

svg {
  margin-left: 100px;
  margin-top: 50px;
}