body { 

  padding-top: 30px;
}

.navbar-default .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1;
  color: white;

}

h1 { 
  font-family: 'Roboto', sans-serif;
  font-weight: 100; 
  font-size: 24px;
}

.topNav {
  background-color: #264669;
}

.subbar {
  background-color: #122C4A;
  color: white;
}

.summary {
  font-family: 'Vollkorn', serif;
  font-size: 14px;
}

.bottomNav {
  background-color: #122C4A;
}

.navbar-fixed-top {
  border-width: 0 0 0px;
}

.navbar-default .navbar-text {
  color: #3F5F84;
}

.col-md-3 {
  padding-top: 30px;
}